
<%- include header %>
	<div class="container">

    <%- include containerHeader %>

    <div class="row">
    	<div class="col-sm-8 blog-main">
	    	<p class="lead"><%= title %></p>
	  	<%- include rightNav %>
<%- include footer %>