
<%- include header %>
	<div class="container">

    <%- include containerHeader %>
    <div class="row">

      <div class="col-sm-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title"><%= post.title %></h2>
          <p class="blog-post-meta"><%= post.meta.updateAt %> by <a href=/u?userId=<%= post.authorId %>&username=<%= post.author %>><%= post.author %></a></p>
          <p><%- post.content %></p>
          <!-- 多说评论框 start -->
          <div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>" data-url="http://localhost:3000/details?id=<%= post._id %>"></div>
          <!-- 多说评论框 end -->
          <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
          <script type="text/javascript">
          var duoshuoQuery = {short_name:"glowry"};
            (function() {
              var ds = document.createElement('script');
              ds.type = 'text/javascript';ds.async = true;
              ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
              ds.charset = 'UTF-8';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
          <!-- 多说公共JS代码 end -->
        </div>

      <%- include rightNav %>
      

<%- include footer %>